{% extends 'music/base.html' %}

{% block style %}
  <script src="../static/pace/js/pace.js"></script>

  <link href="../static/pace/css/themes/silver/pace-theme-loading-bar.css" rel="stylesheet" />

{% endblock %}

{% block admin %}
{% if user_status%}

    <li>
    <a href="/admin">
    <span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp; Admin
    </a>
    </li>
{% endif %}
{% endblock %}


{% block body %}


<div class="container-fluid songs-container">

    <div class="row">


     <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3" style="text-align: center;align-content: center;">
             <div class="alert alert-info fade in" style="">
                    <a href="../album/{{  usersong.song.album.id }}" style="text-decoration: none" data-toggle="tooltip" data-placement="top" title="{{   usersong.song.album.album_title   }}" data-original-title="">
                            <img src="../{{ usersong.song.album.album_logo.url }}" class="">

                     <h3 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:28px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ usersong.song.album.album_title}}</h3>

                      </a>

            </div>
        </div>


        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default" style="">
                <div class="panel-body">
                <h3 style="text-align: center ;font-family: Arial Rounded MT Bold;"></h3>
                <div id="play_text" class="text-primary" style="color: #005fff;font-size: large;"  >
                 </div>
                    <table class="table  table-hover" style="text-align: center">
                        <thead>
                        <tr>
                            <th style="text-align: center">Song Title</th>
                            <th style="margin-left:-2% ;text-align: center">Artist</th>
                            <th style="margin-left:-2% ;text-align: center">Genre</th>
                            <th style="text-align: center">Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                          <script>
                                var flag=0; var current=0;var latest=0; var s=''; var p='';
                                 var t=document.querySelector('#play_text');
                                    var btn=document.querySelector('#play_btn');
                            </script>

                            <tr>
<td>{{ usersong.song.song_title }}</td>
<td  data-toggle="modal"  data-target="#artist"  >
 <a href="#" style="text-decoration:none ; ">{{ artist.name }}</a></td>

<div class="modal fade bs-example-modal-lg"  id="artist" role="dialog" tabindex="-1" aria-labelledby="myLargeModalLabel" style="display: none;">

 <div class="modal-dialog modal-lg" role="document">

 <div class="modal-content" style="color: #005fff;border: transparent;background-color: transparent;text-align: center;font-size:300%;    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);  font-family:'AR BERKLEY' ;">
 		{{ artist.name }}

     <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity:1;text-shadow: 0 0 0 transparent;"><span aria-hidden="true" style="color: red;margin-top: 1%;
    font-size:250%;">×</span></button>


 	<div class="modal-body" style="padding:1px">

{% for  song in artist.songs %}
<div class="col-sm-4 col-lg-2" style="margin-top:1%;""  >
<div class="thumbnail" >
<a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
<img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
<div class="caption">
<h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
<h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
</div>
</a>
</div>

</div>

{% endfor %}

 <div style="margin-top: 33%">
{% for  song in artist.more_songs %}
<div class="col-sm-4 col-lg-2" style="margin-top:1%;""  >
<div class="thumbnail" >
<a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
<img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
<div class="caption">
<h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
<h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
</div>
</a>
</div>

</div>

{% endfor %}

</div>
<div style="margin-top: 63%">
{% for  song in artist.much_more_songs %}
<div class="col-sm-4 col-lg-2" style="margin-top:1%;""  >
<div class="thumbnail" >
<a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
<img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
<div class="caption">
<h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
<h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
</div>
</a>
</div>

</div>

{% endfor %}

</div>


 </div></div> </div>





    <td class="" data-toggle="modal"  data-target="#genre" style="text-decoration: none; " >
        <a href="#" style="text-decoration:none ; ">{{ genre.name }}</a></td>

<div class="modal fade bs-example-modal-lg"  id="genre" role="dialog" tabindex="-1" aria-labelledby="myLargeModalLabel" style="display: none;">

 <div class="modal-dialog modal-lg" role="document">

 <div class="modal-content" style="color: #005fff;border: transparent;background-color: transparent;text-align: center;font-size:300%;    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);  font-family:'AR BERKLEY' ;">
 		{{ genre.name }}

     <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity:1;text-shadow: 0 0 0 transparent;"><span aria-hidden="true" style="color: red;margin-top: 1%;
    font-size:250%;">×</span></button>


 	<div class="modal-body" style="padding:10px">


{% for  song in genre.songs %}
<div class="col-sm-4 col-lg-2" style="margin-top:1%;""  >
<div class="thumbnail" >
<a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
<img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
<div class="caption">
<h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
<h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
</div>
</a>
</div>

</div>

{% endfor %}

 <div style="margin-top: 33%">
{% for  song in genre.more_songs %}
<div class="col-sm-4 col-lg-2" style="margin-top:1%;""  >
<div class="thumbnail" >
<a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
<img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
<div class="caption">
<h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
<h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
</div>
</a>
</div>

</div>

{% endfor %}

</div>
<div style="margin-top: 63%">
{% for  song in genre.much_more_songs %}
<div class="col-sm-4 col-lg-2" style="margin-top:1%;""  >
<div class="thumbnail" >
<a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
<img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
<div class="caption">
<h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
<h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
</div>
</a>
</div>

</div>

{% endfor %}

</div>



 </div>




 </div>




</div>
















                <td>
                               <a class="btn btn-success btn-sm  btn-listen_count " href="/listen_count_add/{{usersong.song.id }}" id="play_btn"  style="background-color: #2ECC40;border: transparent" onclick="playPause{{usersong.song.id }}();" role="button" data-toggle="tooltip" data-placement="bottom"  data-original-title="play">
                                      <span class="glyphicon glyphicon-play "></span></a>
                                  <video id="video{{ usersong.song.id }}" width="0" height="0" >
                                    <source src='../{{ usersong.song.audio_file.url }}' type="video/mp4">
                                    Your browser does not support HTML5 Audio/Video.
                                  </video>
                                <script>
                                var myVideo{{ usersong.song.id }} = document.getElementById("video{{ usersong.song.id }}");
                                     function playPause{{ usersong.song.id }}() {
                                        if (myVideo{{ usersong.song.id }}.paused) {



                                            myVideo{{ usersong.song.id }}.play();

                                             t.innerHTML='<marquee behaviour="alternate"  > Now Playing: <strong>'+'{{usersong.song.song_title }}'+'</strong></p>';
                                        }
                                        else{
                                         myVideo{{ usersong.song.id }}.pause();
                                          t.innerHTML='';
                                        }
                                    }
                                </script>


                                    <a href="/playlist_add/{{ usersong.song.id }}S" class="btn" role="button" data-toggle="tooltip" data-placement="bottom"  data-original-title="{% if not usersong.is_added_to_playlist   %}Add to Playlist{% else %}Remove {% endif %}">
                                          {% if  usersong.is_added_to_playlist   %}
                                             <span class="glyphicon glyphicon-minus "></span>
                                                {% else %}
                                               <span class="glyphicon glyphicon-plus "></span>
                                          {% endif %}
                                      </a>


                                    <a href="/favorite_add/{{usersong.song.id }}" class="btn  btn-sm btn-favorite" role="button" data-toggle="tooltip" data-placement="bottom"  data-original-title="Favorite" >
                                   <span class="glyphicon glyphicon-star {% if usersong.is_favorite %}active{% endif %}"></span>
                                      </a>
                                 <a href="../{{usersong.song.audio_file.url }}" class="btn  btn-sm " role="button" data-toggle="tooltip" data-placement="bottom"  data-original-title="Download" >
                                   <span class="glyphicon glyphicon-download-alt " style="font-size: larger;color: #005fff"></span>
                                      </a>

                                </td>

                            </tr>







                        </tbody>
                    </table>

                </div></div> </div></div></div>

{% if cf_based_similar_songs %}
<div class="container-fluid songs-container">

    <div class="alert  " >
    <div class="container" style="margin-left: -1%;margin-top: -3%;">
      <div class="page-header" style="  border-bottom: 2px solid #23ff1c;">
        <h3><small style="font-family: 'Georgia';font-size:larger;color:#32d243">People Also Like </small> </h3>
      </div>

        {% for  song in cf_based_similar_songs %}

        <div class="col-sm-4 col-lg-2" >
            <div class="thumbnail" >
                <a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
                    <img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
                    <div class="caption">
                    <h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
                    <h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
                </div>
                </a>
            </div>

        </div>

        {% endfor %}

    </div>

   {% if more_cf_based_similar_songs %}

  <div class="hidden" id="hidden-cf_based_similar_songs" style="">
                {% for  song in more_cf_based_similar_songs %}
                <div class="col-sm-4 col-lg-2"  style="margin-top:">
            <div class="thumbnail" >
                <a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
                    <img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
                    <div class="caption">
                    <h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
                    <h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
                </div>
                </a>
            </div>

        </div>
                {% endfor %}

        </div>
   <button class="btn-success btn" id="cf_based_similar_songs-btn"  onclick="cf_based_similar_songs();" style="margin-left: 70%;margin-top: -1%;"> More</button>

 <script>
            var cf_based_similar_songs_btn=document.querySelector('#cf_based_similar_songs-btn');
            var cf_based_similar_songs_target=document.querySelector('#hidden-cf_based_similar_songs');
            function cf_based_similar_songs () {
                    cf_based_similar_songs_btn.setAttribute('class','hidden');
                    cf_based_similar_songs_target.setAttribute('class','page-header');
            }
 </script>

  {% endif %}

    </div>



</div>
{% endif %}



{% if cl_based_similar_songs %}
<div class="container-fluid songs-container">

    <div class="alert  " >
    <div class="container" style="margin-left: -1%;margin-top: -3%;">
      <div class="page-header" style="  border-bottom: 2px solid #2139f3;">
        <h3><small style="font-family: 'Georgia';font-size:larger;color:#2139f3">Similar Songs </small> </h3>
      </div>

        {% for  song in cl_based_similar_songs %}

        <div class="col-sm-4 col-lg-2" >
            <div class="thumbnail" >
                <a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
                    <img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
                    <div class="caption">
                    <h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
                    <h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
                </div>
                </a>
            </div>

        </div>

        {% endfor %}

    </div>

   {% if more_cl_based_similar_songs %}

  <div class="hidden" id="hidden-cl_based_similar_songs" style="">
                {% for  song in more_cl_based_similar_songs %}
                <div class="col-sm-4 col-lg-2"  style="margin-top:">
            <div class="thumbnail" >
                <a href="{%  url 'music:song_detail' song.id %}" style="text-align: center;text-decoration: none; "   data-toggle="tooltip" data-placement="top" title="{{   song.song_title   }}" data-original-title="" >
                    <img   src="../{{ song.album.album_logo.url }}" style=""  class="img-responsive">
                    <div class="caption">
                    <h4 style="color:Black;text-blink:10;font-family: 'Georgia';  " onmouseout="style='color:Black;font-family: \'Georgia\''"  onmouseover="style='font-size:20px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.song_title }}</h4>
                    <h6 style="color: Black;font-family: 'Georgia'" onmouseout="style='color:Black;font-family: \'Georgia\''" onmouseover="style='font-size:15px;color:Blue;font-family: \'Arial Rounded MT Bold\''">{{ song.artist }}</h6>
                </div>
                </a>
            </div>

        </div>
                {% endfor %}

        </div>
   <button class="btn-info btn" id="cl_based_similar_songs-btn"  onclick="cl_based_similar_songs();" style="margin-left: 70%;margin-top: -1%;"> More</button>

 <script>
            var cl_based_similar_songs_btn=document.querySelector('#cl_based_similar_songs-btn');
            var cl_based_similar_songs_target=document.querySelector('#hidden-cl_based_similar_songs');
            function cl_based_similar_songs () {
                    cl_based_similar_songs_btn.setAttribute('class','hidden');
                    cl_based_similar_songs_target.setAttribute('class','page-header');
            }
 </script>

  {% endif %}

    </div>



</div>
{% endif %}








{% endblock %}